In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
df = pd.read_csv(os.path.join("..", "1/Resources", "diabetes.csv"))
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
# Are there any null values?
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [4]:
# What is the distribution of those with and without diabetes?
df.groupby("Outcome").size()

Outcome
0    500
1    268
dtype: int64

In [5]:
# Set the y variable to the "Outcome" column.
y = df["Outcome"]

In [6]:
# Drop the diabetes values and set the X to the remaining data.
X = df.drop("Outcome", axis=1)
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [17]:
# Split the data by using train_test_split() 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=42, 
                                                    stratify=y)
X_train.shape

(576, 8)

In [18]:
# Create a logistic regression model, train, and validate the model.
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000)
        
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [12]:
# Create a confusion matrix from the test values and predictions
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       0
1            1       1
2            0       0
3            1       1
4            0       0
5            0       0
6            1       1
7            1       0
8            1       1
9            0       0
10           1       1
11           0       1
12           0       0
13           1       1
14           0       1
15           0       1
16           0       0
17           0       0
18           1       1
19           0       0

In [15]:
# Hint: Save the values of the confusion matrix to variables.
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df



# Calculating the accuracy score.


# Uncomment the following code to extract the true negative, false positive, false negative, and true positive values from a confusion matrix `cm`
# tn, fp, fn, tp = cm.ravel()

NameError: name 'predictions' is not defined

In [13]:
# Calculate the precision of the model based on the confusion matrix
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

NameError: name 'cm_df' is not defined

In [ ]:
# Calculate the sensitivity of the model based on the confusion matrix
# YOUR CODE HERE

In [ ]:
# Calculate the F1 score of the model based on the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the classification report for the model on the test data
# YOUR CODE HERE