In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
df = pd.read_csv(os.path.join("..", "1/Resources", "diabetes.csv"))
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
# Are there any null values?
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [4]:
# What is the distribution of those with and without diabetes?
df.groupby("Outcome").size()

Outcome
0    500
1    268
dtype: int64

In [5]:
# Set the y variable to the "Outcome" column.
y = df["Outcome"]

In [6]:
# Drop the diabetes values and set the X to the remaining data.
X = df.drop("Outcome", axis=1)
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [ ]:
# Split the data by using train_test_split()
# YOUR CODE HERE

In [ ]:
# Create a logistic regression model, train, and validate the model.
# YOUR CODE HERE

In [ ]:
# Create a confusion matrix from the test values and predictions

In [ ]:
# Hint: Save the values of the confusion matrix to variables.
# Uncomment the following code to extract the true negative, false positive, false negative, and true positive values from a confusion matrix `cm`
# tn, fp, fn, tp = cm.ravel()

In [ ]:
# Calculate the precision of the model based on the confusion matrix
# YOUR CODE HERE

In [ ]:
# Calculate the sensitivity of the model based on the confusion matrix
# YOUR CODE HERE

In [ ]:
# Calculate the F1 score of the model based on the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the classification report for the model on the test data
# YOUR CODE HERE